<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examw.test"
    android:versionCode="1"
    android:versionName="1.0" >
    <!-- 设定多分辨率支持[能得到正确的屏幕尺寸] -->
	<supports-screens
            android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:resizeable="true"
            android:anyDensity="true" />
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
	<!-- 接入网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 读写SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!-- 获取mac地址作为用户的备用唯一标识 -->
    <!-- 获取手机设备码 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
        
    <application
        android:name="com.examw.test.app.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- 启动入口 -->
        <activity
            android:name="com.examw.test.app.AppStart"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 引导界面  -->
        <activity
            android:name="com.examw.test.ui.GuideActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 主界面   -->
        <activity
            android:name="com.examw.test.ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 模拟考试界面  -->
        <activity
            android:name="com.examw.test.ui.SimulateActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 章节练习界面  -->
        <activity
            android:name="com.examw.test.ui.ChapterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 每日一练界面  -->
        <activity
            android:name="com.examw.test.ui.DailyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 收藏界面  -->
        <activity
            android:name="com.examw.test.ui.FavoriteActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 错题界面  -->
        <activity
            android:name="com.examw.test.ui.ErrorItemActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 知识点界面 -->
        <activity
            android:name=".ui.KnowledgeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 论坛界面 -->
        <activity
            android:name=".ui.ForumActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 考试指南界面 -->
        <activity
            android:name=".ui.ExamInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 考试记录界面  -->
        <activity
            android:name="com.examw.test.ui.RecordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 关于应用界面  -->
        <activity
            android:name="com.examw.test.ui.AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 隐私协议界面 -->
        <activity
            android:name=".ui.PrivacyAgreementActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 时间设置界面 -->
        <activity
            android:name=".ui.SetTimeActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>
</manifest>
